h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.quote_block {
    width: 60%;
    padding: 25px 10px 5px 40px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 25px;
    border: 5px solid #ffc107;
}

.quote {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
}

#container {
    width: 60%;
    margin: auto;
}

@media screen and (max-width: 768px) {
    #container {
        width: 90%;
    }

    h1 {
        font-size: 200%;
    }
}

.front_page_image {
    margin: 0 20px 20px 0;
    border-radius: 20px;
}

.contact_page_image {
    width: 170px;
    border-radius: 50%;
    border: 5px solid #ffc107;
    margin-bottom: 10px;
    float: left;
    margin-right: 30px;
}

.activity_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.activity_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px 0 30px;
    width: 350px;
}

.project_image {
    width: 300px;
    margin-bottom: 30px;
}

.project_image:hover {
    width: 305px;
    border: 5px solid #ffc107;
}

.col {
    align-items: center;
}

.project_title {
    font-weight: bold;
    font-size: 150%;
}

.blog_entry_image {
    width: 300px;
    margin-bottom: 30px;
}

.blog_entry_image:hover {
    width: 305px;
    border: 5px solid #ffc107;
}

.google-slides-container {
    position: relative;
    width: 100%;
    padding-top: 60%;
    overflow: hidden;
}

.google-slides-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    background-color: #343A40;
    margin: 45px 0 30px 0;
    padding: 15px 0 1px 0;
    text-align: center;
    color: white;
}