h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.front_page_image {
    margin: 0 20px 20px 0;
}

.contact_page_image {
    width: 100px;
    border-radius: 50%;
    border: 2px solid blue;
    margin-bottom: 10px;
}

.activity_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.activity_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px 0 30px;
    width: 350px;
}

.project_image {
    width: 300px;
    margin-bottom: 30px;
}

.project_image:hover {
    width: 305px;
    border: 5px solid blue;
}

.col {
    align-items: center;
}

.project_title {
    font-weight: bold;
    font-size: 150%;
}

.blog_entry_image {
    width: 300px;
    margin-bottom: 30px;
}

.blog_entry_image:hover {
    width: 305px;
    border: 5px solid blue;
}